.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__icons {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 50%;
}

.header__icon {
    height: 2rem;
}

.header__icon--loufok {
    height: 4rem;
}

.header__greetings {
    font-size: 2rem;
}

.header__username {
    font-weight: 600;
    color: var(--dark);
}

.header__separator {
    height: 0;
    border: none;
    width: 70%;
    border-bottom: 1px solid var(--near-main);
    margin: 1.5rem 15%;
}