.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0 3rem;
}

.form__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form__inputwrapper {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 2fr;
}

.form__label {}

.form__input {
    padding: 0.5rem;
    border: 2px solid var(--main);
    border-radius: 4px;
    width: 100%;
    resize: none;
}

.errors {
    color: red;
}

.form__submit {
    align-self: flex-end;

}

.button_back,
.form__button {
    width: fit-content;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--dark);
    border-radius: 4px;
    border: none;
    background-color: var(--main);
}

.button_back {
    margin: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}