@font-face {
    font-family: "General Sans";
    src: url(../fonts/GeneralSans-Variable.ttf);
}

:root {
    --idk-bruh: #CCC7B9;
    --background: #EAF9D9;
    --main: #E2D4BA;
    --secondary: #AF7A6D;
    --dark: #653239;
    --text-font: General Sans;
}